.main-card {
    display: flex;
    border-radius: 0.5em;
    height: 250px;
    width: 750px;
    outline: none;
    box-shadow: 0px 4px 10px #0000002a;
    border: none;
}

.main-card .card-body {
    display: flex;
    flex-direction: column;
}

.main-card .card-body img {
    width: 100px;
    height: 45px;
    float: right;
    display:flex;
}

.main-card .card-body .card-title {
    font-size: 35px;
    font-weight: lighter;
    /* color: #DF2F2F; */
}

.main-card .card-body .card-text {
    font-size: 15px;
    font-weight: lighter;
    text-align:left ;
    max-width: 450px;
}

a:hover {
    text-decoration: none;
}

.main-card:hover {
    background-color: rgb(240, 240, 240);
}

.btn {
    display : flex;
    justify-content: start;
    margin: 5px;

}

.card-info ul {
    list-style-type: none;
    font-size: 13px;
    float:left;
}