.homeAdm {
    background-color: #EEEEEE;
    min-height: 100vh;
    height: 100%;
}

.homeAdm .content-homeAdm h2 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 50px;
}

.homeAdm .content-homeAdm .background {
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,0.6979166666666667) 0%, rgba(235,7,7,0.6923144257703081) 100%);
    padding-top: 108px;
    padding-left: 270px;
    color: white;
    height: 475px;
}

.homeAdm .content-homeAdm .background .title {
    display: flex;
    align-items: flex-end;
}

.homeAdm .content-homeAdm .background .title h1 {
    margin-bottom: 0;
    margin-left: 13px;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 5px;
}

.homeAdm .content-homeAdm .background .title img {
    width: 56px;
    height: 56px;
}

.homeAdm .content-homeAdm .background p {
    opacity: 50%;
    margin-top: 14px;
} 

.homeAdm .cards-line {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 110px;
    padding: 0 230px;
}

.homeAdm .bottom-card-line {
    display: flex;
    justify-content: space-evenly;
    padding: 0 230px;
}

.homeAdm .bottom-card-line .info-aluno {
    text-align: center;
    height: 540px;
    width: 280px;
    outline: none;
    box-shadow: 0px 4px 10px #0000002a;
    border: none;
    margin-bottom: 20px;
    background-color: white;
    margin-bottom: 100px;

}

.homeAdm .bottom-card-line .info-aluno > p {
    font-size: 25px;
    font-weight: lighter;
    color: #DF2F2F;
    margin-top: 45px;
}

.homeAdm .bottom-card-line .info-aluno .aluno-title {
    margin-bottom: 70px;
}

.homeAdm .bottom-card-line .info-aluno > h2 {
    font-size: 80px;
    font-weight: bold;
    color: #DF2F2F;
    margin-bottom: 89px;
}

.homeAdm .bottom-card-line .info-aluno .info-link {
    background-color: #DF2F2F;
    position: relative;
    top: 68px;
}

.homeAdm .bottom-card-line .info-aluno .info-link h3 {
    margin: 0;
    padding: 25px 0;
    color: white;
    outline: none;
}

/* ------------------------------------------------- */

.homeAdm .bottom-card-line .info-vaga {
    text-align: center;
    height: 540px;
    width: 280px;
    outline: none;
    box-shadow: 0px 4px 10px #0000002a;
    border: none;
    margin-bottom: 20px;
    background-color: white;
}

.homeAdm .bottom-card-line .info-vaga > p {
    font-size: 25px;
    font-weight: lighter;
    color: #DF2F2F;
    margin-top: 45px;
}

.homeAdm .bottom-card-line .info-vaga .vaga-title {
    margin-bottom: 70px;
}

.homeAdm .bottom-card-line .info-vaga > h2 {
    font-size: 80px;
    font-weight: bold;
    color: #DF2F2F;
    margin-bottom: 89px;
}

.homeAdm .bottom-card-line .info-vaga .info-link {
    background-color: #DF2F2F;
    position: relative;
    top: 68px;
}

.homeAdm .bottom-card-line .info-vaga .info-link h3 {
    margin: 0;
    padding: 25px 0;
    color: white;
    outline: none;
}

/* ------------------------------------------------- */

.homeAdm .bottom-card-line .info-empresa {
    text-align: center;
    height: 540px;
    width: 280px;
    outline: none;
    box-shadow: 0px 4px 10px #0000002a;
    border: none;
    margin-bottom: 20px;
    background-color: white;
}

.homeAdm .bottom-card-line .info-empresa > p {
    font-size: 25px;
    font-weight: lighter;
    color: #DF2F2F;
    margin-top: 45px;
}

.homeAdm .bottom-card-line .info-empresa .empresa-title {
    margin-bottom: 70px;
}

.homeAdm .bottom-card-line .info-empresa > h2 {
    font-size: 80px;
    font-weight: bold;
    color: #DF2F2F;
    margin-bottom: 89px;
}

.homeAdm .bottom-card-line .info-empresa .info-link {
    background-color: #DF2F2F;
    position: relative;
    top: 68px;
}

.homeAdm .bottom-card-line .info-empresa .info-link h3 {
    margin: 0;
    padding: 25px 0;
    color: white;
    outline: none;
}

/* ------------------------------------------------- */

.homeAdm .bottom-card-line .info-estagio {
    text-align: center;
    height: 540px;
    width: 280px;
    outline: none;
    box-shadow: 0px 4px 10px #0000002a;
    border: none;
    margin-bottom: 20px;
    background-color: white;
}

.homeAdm .bottom-card-line .info-estagio > p {
    font-size: 25px;
    font-weight: lighter;
    color: #DF2F2F;
    margin-top: 45px;
}

.homeAdm .bottom-card-line .info-estagio .estagio-title {
    margin-bottom: 70px;
}

.homeAdm .bottom-card-line .info-estagio > h2 {
    font-size: 80px;
    font-weight: bold;
    color: #DF2F2F;
    margin-bottom: 89px;
}

.homeAdm .bottom-card-line .info-estagio .info-link {
    background-color: #DF2F2F;
    position: relative;
    top: 68px;
}

.homeAdm .bottom-card-line .info-estagio .info-link h3 {
    margin: 0;
    padding: 25px 0;
    color: white;
    outline: none;
}