
main {
    padding-top: 100px;
}

main img {
    height:70px
}

h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}
.btn {
    display: flex;
    justify-content: space-around;
}
.desc {
    padding:10px;
}