.cardAluno{
    padding-bottom: 30px;
}

.cardAluno .main-card {
    display: flex;
    border-radius: 0.5em;
    height: 250px;
    width: 750px;
    outline: none;
    box-shadow: 0px 4px 10px #0000002a;
    border: none;
}

.cardAluno .main-card .card-body {
    display: flex;
    flex-direction: column;
}

.cardAluno .main-card .card-body .card-img {
    width: 100px;
    height: 45px;

}

.cardAluno .main-card .card-body .card-title {
    font-size: 35px;
    font-weight: lighter;
}

.cardAluno .main-card .card-body.card-text {
    font-size: 15px;
    font-weight: lighter;
    text-align:left ;
    max-width: 450px;
}

.cardAluno .main-card:hover {
    background-color: rgb(240, 240, 240);
}

.cardAluno .main-card .card-body .card-info ul {
    list-style-type: none;
    font-size: 13px;
    float:left;
}

.cardAluno .main-card .card-body .card-info ul li{
    padding:5px;
}