.login {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    min-height: 100vh;
}

.login .content {
    background-color: #EEEEEE;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login .logos {
    background-color: #DF2F2F;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .logos img {
    width: 580px;
    height: 65px;
}

.login .content .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    /* width: 100%; */
}

.login .content .formulario .inputs {
    margin-bottom: 40px;
}

.login .link {
    text-decoration: none;
    color: #DF2F2F;
}

.login .link:hover {
    color: #DF2F2F;
    text-decoration: underline;
}

@media(max-width: 767px){
    .login{
        flex-direction: column;
    }
}