.empresaCadastro {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    min-height: 100vh;
    color: #3A3A3A;
    text-align: center;
}

.empresaCadastro .content {
    background-color: #EEEEEE;
    width: 140%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empresaCadastro .content h1 {
    margin-top: 84px;
    font-weight: bold;
}

.empresaCadastro .content h3 {
    margin-top: 30px;
}

.empresaCadastro .logos {
    top: 0;
    background-color: #DF2F2F;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empresaCadastro .logos h1{
    position: fixed;
    top: 400px;
    color: white;
}

.empresaCadastro .logos h2 {
    position: fixed;
    top: 500px;
    color: white;
    max-width: 300px;
}

.empresaCadastro .logos p {
    position: fixed;
    top: 850px;
    color: white;
    font-size: 20px;
    max-width: 400px;
}

.empresaCadastro .logos img {
    position: fixed;
    top: 150px;
    width: 580px;
    height: 65px;
}

.empresaCadastro .content .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    /* width: 100%; */
}

.empresaCadastro .content .formulario .row1, .row2, .row3, .row4{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.empresaCadastro .content .formulario .row1 Input, .row2 Input, .row3 Input, .row4 Input {
    width: 240px;
}

.empresaCadastro .titleHead {
    display: flex;
}

.empresaCadastro .titleHead h2{
    margin: 80px 50px;
}

.empresaCadastro .titleHead .empresa {
    color:  #DF2F2F;
    border-bottom: 5px solid #DF2F2F
}

.empresaCadastro .titleHead .aluno {
    color: #3A3A3A;
}

.empresaCadastro .content .botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
    margin: 60px 0;
}


@media(max-width: 767px){
    .login{
        flex-direction: column;
    }
}