.footer{
    background-color: #DF2F2F;
}

.box-container{
    color: white;
    display: flex;
    flex-direction: column;
}

.footer .box-content .logos-container img{
    width: 30px;
}

img{
    margin: 0 5px;
}

.contato{
    margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
}

.info{
    font-weight: lighter;
    font-size: 10px;
    line-height: 3px;
}

.box-content{
    margin: 0px 50px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}