.h2{
    color:  #3A3A3A;
    padding-top: 100px;
    padding-right: 425px;
    text-align: center;
}

.card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.body{
    width: 900px;
    margin: auto;
}

.cardTeste{
    margin: 15px;
}

.search-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

@media(max-width: 767px){
    .body{
        width: 300px;
    }
}