<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chart Js - Graphics</title>
</head>
<body>
    
    <!-- usar a tag canvas para graficos -->
    <canvas class="line-chart"></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script>
        //https://www.chartjs.org/docs/latest/ Documentation
        //https://cdnjs.com/libraries/Chart.js Graphics Types
        //npm install chart.js --save
        //yarn add @types/react-chartjs-2
        //yarn add @types/chart.js
        //yarn add react-chartjs-2 chart.js
        //bower install chart.js --save
        var ctx = document.getElementByClassName("line-chart");
        //tabalha em 3 tipos de linhas dados Type, Data e options
        var chartGraph = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","Set","Out","Nov","Dez"],
                datasets: [{
                    label: "TAXA DE CLIQUES - 2020",
                    date: [5,10,5,14,20,15,6,14,8,12,15,5,10],
                    borderWidth: 6,
                    boderColor:'rgba(77,166,253,0.85)',
                    backgroundColor: 'transparent',
                }]
            }
        });
    </script>
</body>
</html>